<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body class="container">
    <%- include('../partials/nav.ejs') %>
    <div class="show-blog blog">
        <h3><%= blog.title %></h3>
        <p class="snippet">- <%= blog.snippet %></p>
        <p class="content"><%= blog.content %></p>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
