<div class="blog">
    <h3 class="title">
        <a href="/blogs/<%= blog._id %>/show"><%= index +1 %>. <%= blog.title %></a>
    </h3>
    <p class="content"><%= blog.content.substring(0, 200); %>..</p>
    <div>
        <a href="/blogs/<%= blog._id %>/show">read more</a>
        <a href="/blogs/<%= blog._id %>/edit">edit</a>
    </div>
</div>
